!!! 5
html
	head
		title My App
		//- link(rel='stylesheet', href='/stylesheets/style.css', media='screen')
		//- link(rel='shortcut icon', type='image/png', href='/images/favicon.png')
		script(src="/scripts/jquery.js")
		script(src="/scripts/form.js")

		script(src="/scripts/upload.js")
		script(src="/scripts/signup.js")
		script(src="/scripts/login.js")
		script(src="/scripts/feed.js")
		script(src="/scripts/event.js")
		//- TODO: automate this - minimize the amount of GETS in production... loading 10 files with a function or two each is bs
	body
		block content